nav a {
  background: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 166, 0)),
    linear-gradient(to right, #6a00ff, #a200ffd6, #c80093);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
nav a:hover {
  background-size: 0 2px, 100% 2px;
}

nav a:not(:first-child) {
  margin-left: 32px;
}
